

<div class="side_menu">
    <div id="mySidenav" class="sidenav col-md-2">
		<h2 class="admin">Admin</h2>
      <a href="#" id="about">About</a>
      <a href="#" id="blog">Blog</a>
      <a href="#" id="projects">Projects</a>
      <a href="#" id="contact">Contact</a>
    </div>
</div>
	<nav class="navbar bg-light navbar-expand-sm navbar-dark justify-content-between">
		<div class="container">
		<ul class="navbar-nav justify-content-between">

		    <li class="nav-item active"><a class="nav-link" style="color: orange" href="">HOME</a></li>
    <!-- Dropdown -->



        <!-- Dropdown -->




		</ul>
		<div class="drop">
			<button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
            <b class="text-info"></b><i class="fas fa-user-circle"></i>
        </button>

        <div class="dropdown-menu dropdown-menu">
            <a class="dropdown-item" href="#">Dashboard</a>
            <a class="dropdown-item" href="">Change Password</a>
            <a class="dropdown-item" href=""> Profile</a>
            <a class="dropdown-item" href="">Bank Deatils</a>
            <a class="dropdown-item" href="{% url 'logout'%}">Logout</a>
        </div>
		</div>



	</div>
	</nav>